# .gitignore

# Ignore config.py to prevent sensitive data from being committed
config.py

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore log files
*.log

